    {{> header}}
        <H1>
        [Admin] Display accounts !  
        </H1>
        <H1>
        [Admin] Display accounts !  
        </H1>

<section>
    <article class="panel">
        {{#each Account}}
        <div class="article-content">

            <figure>
                <p><b>User name: </b>{{this.UserName}}</p>
                <p><b>Full name: </b>{{this.FullName}}</p>
                <img src={{this.avatarlink}}/>
            </figure>
        </div>
        {{/each}}
    </article>
</section>

    {{> footer}}