    {{> header}}
        <H1>
            <title>[Admin] Display accounts ! </title>
        </H1>

        <div class="container">
            <div class="row">
                {{#each accounts}}
                    <div class="col-4">
                        <p><b>User Name: </b>{{this.UserName}}</p>
                        <br>
                        <p><b>Display Name: </b>{{this.FullName}}</p>
                        <br> 
                        <img width="200px" src="{{this.imglink}}" />
                    </div>
                {{/each}}
            </div>
        </div>

    {{> footer}}